
{cover_enabled, true}.

{erl_opts, [
    debug_info, {parse_transform, lager_transform}
]}.

{deps, [
    yamerl,
    {nkserver, {git, "http://github.com/netcomposer/nkserver", {branch, "master"}}},
    {nkpubsub, {git, "http://github.com/netcomposer/nkpubsub", {branch, "master"}}},
    hackney,
    {prometheus, "4.6.0"}
]}.


{xref_checks, [
    undefined_function_calls, undefined_functions,
    locals_not_used, deprecated_function_calls, deprecated_functions
]}.
